body, div, section, header {
  line-height: 1;
  display: block;
  font-family: "宋体", serif;
  box-sizing: border-box;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size: 2.3em;
}

p{
  font-size: 1.4em;
}

div {
  display: block;
  border-width: 0px;
  padding: 0px;
  margin: auto;
}

.main{
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  background-origin: border-box;
  z-index: 1;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
  margin: 0 auto 100px;
  padding: 45px;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.top-part{
  padding: 0px 30px 0px 30px;
}

.top-part p{
  word-wrap:break-word;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.target-sentence-wrapper{
  padding-top: 20px;
}

.form-wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
}

form{
  border: none;
  margin: 0;
  padding: 0;
}

form input{
  outline: 0;
  background: #f2f2f2;
  width: 200px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.5em;
}

.buttons{
  text-align: center;
}

.buttons button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 150px;
  border: 0px;
  padding: 15px;
  margin: 0 30px 0 30px;
  color: #FFFFFF;
  font-size: 1.3em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.buttons button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
