<!DOCTYPE html>
<html lang="ch" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="This site is developed by TJU NLP lab. Copyright 2021, All rights reserved.">
    <title>NLU数据标注平台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>
  </head>

  <body>

    <section class="main" id="main">
      <div class="content-wrapper">

        <div class="top-part">
          <div class="passage-wrapper">
            <div class="context-wrapper" id="context-wrapper">
              <h2>语境:</h2>
              <p id="context">正在加载</p>
            </div>
          </div>

          <div class="form-wrapper">
            <h2>你的猜测:</h2>
            <form name="form" id='form'>
                <input type="radio" id="choice0" name="choices" value="0">
                <label for="choice0", id="label_c0" >猜不到</label><br>
                <input type="radio" id="choice1" name="choices" value="1">
                <label for="choice1", id="label_c1"></label><br>
                <input type="radio" id="choice2" name="choices" value="2">
                <label for="choice2", id="label_c2"></label><br>
                <input type="radio" id="choice3" name="choices" value="3">
                <label for="choice3", id="label_c3"></label><br>
                <input type="radio" id="choice4" name="choices" value="4">
                <label for="choice4", id="label_c4"></label><br>
                <input type="radio" id="choice5" name="choices" value="5">
                <label for="choice5", id="label_c5"></label><br>
                <input type="radio" id="choice6" name="choices" value="6">
                <label for="choice6", id="label_c6"></label><br>
            </form>
            <p id="num_prompt"></p>

            <!-- buttons put inside the form may not be able to call the js function properly -->
            <div class='buttons'>
              <button id="submit" onClick="submit()">提交</button>
              <button id="change" onClick="changeView()">切换视图</button>
            </div>
          </div>

        </div>


      </div>

    </section>

  </body>
</html>
