<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="This site is developed by TJU NLP lab. Copyright 2021, All rights reserved.">
    <title>平台登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
  </head>
  <body>

    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/validate" method="POST">
          <div id="flash">{% for message in get_flashed_messages() %}{{ message }}{% endfor %}</div>
          <input type="text" name='user_id' placeholder="请输入用户名"/>
          <input type="password" name='pwd' placeholder="请输入密码"/>
          <!-- buttons put outside the form may not successfully redirect to the home page if logged in successfully -->
          <button type="submit">登录</button>
        </form>
      </div>
    </div>

  </body>
</html>
